#root{
  height: 100%;
}

.App {
  text-align: center;
  background-color: #B6CDD4;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-logo {
    height: 80px;
}

.mainContainer{

}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden
}

li {
  float: left;
}

::-webkit-input-placeholder { /* Chrome */
  color: #B6CDD4;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #B6CDD4;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #B6CDD4;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #B6CDD4;
  opacity: 1;
}